/* CSS Document */

body {
    margin-top:0pt;
}

table.cuerpo {
    background-color:#000080;
    padding:1pt;
}

td.bordes {
    background: #000080;
}

table.contenido {
    background:#FFFFFF;
    font-family:tahoma, sans-serif;
}

td.contenido {
    background:#FFFFFF;
    font-family:tahoma, sans-serif;
}

td.titmenu {
    background: #ccccff;
    padding:0pt;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}
td.textmenu {
    background: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#000080;
    font-weight: bolder;
    font-size:12px;
    padding:3px;
    text-align:left;
}


td.textsubmenu {
    background:#ffffff;
    font-family: Verdana, Tahoma, helvetica, sans-serif;
    color:#000080;
    font-size:12px;
    padding:2px;
    margin-left:20px;
    text-align:left;
}

td.subtitmenu {
    background:#CCCCCC ;
    font-family: Tahoma, helvetica, sans-serif;
    size: 12pt;
    color: #000000;
    font-weight: bold;
    padding:0pt;
}

a.menu {
    display:block;
    height:25pt;
    white-space:nowrap;
    text-decoration:none;
    padding:1px;
    color: #000000;
    MARGIN-TOP: 5px;
    font-family: tahoma;
    font-size: 12px;
}

a.menu:link {
    color:#000000;
    text-decoration:none;
}

a.menu:visited {
    color:#000000;
    text-decoration:none;
}

a.menu:hover {
    color:#003399;
    text-decoration:none;
    background-color:#C6D9FB;
}

a.menu:active {
    color:#000000;
    text-decoration:none;
}

a.aviso {
    color:#990000;
    font-family:tahoma, sans-serif;
    font-size:12px;
}

.titstatus {
    font-size:11px;
}

.valores {
    text-align:right;
}

td.cuerponoticia {
    background-color:#FFFFFF;
    text-align:justify;
}

td.titnoticias {
    text-align:center;
    color:#000080;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:12px;
    vertical-align:center;
}

.titulonot {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000033;
    font-weight:bold;
    text-decoration:underline;
}

.detnot {
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#000000;
}

.detaviso {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#000000;
}

a.submenu {
    display:block;
    height:12pt;
    white-space:nowrap;
    text-decoration:none;
    color: #000000;
    MARGIN-TOP: 1px;
    font-family: tahoma;
    font-size: 11px;
}

a.submenu:link {
    color:#000000;
    text-decoration:none;
}

a.submenu:visited {
    color:#000000;
    text-decoration:none;
}

a.submenu:hover {
    color:#003399;
    text-decoration:none;
    background-color:#C6D9FB;
}

a.submenu:active {
    color:#000000;
    text-decoration:none;
}

td.titulomenu {
    background:url(images/bordes/centro.gif);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#000080;
    font-weight: bolder;
    font-size:14px;
    text-align:left;
    background-repeat:repeat-x;
}

td.tititems {
    font-family:verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
}

input.boton1 {
    font-size:11px;
}

input.boton3 {
    font-size:11px;
}

td.tabladettxt {
    font-size:12px;
}

td.tabladetnum {
    font-size:12px;
    text-align:right;
}

input.contlogin {
    border-color:#0099CC;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

input.boton2 {
    background:url(images/keys.png);
    width:55px;
    height:60px;
    background-color:#3399FF;
}

td.tablaest {
    font-size:11px;
    text-align:right;
    font-family:tahoma, sans-serif;
    white-space:nowrap;
}

td.tablaesttxt {
    font-size:11px;
    font-family:tahoma, sans-serif;
}

td.tablatit {
    font-size:12px;
    font-weight:bold;
    background-color:#CCCCCC;
}
td.tablatxt {
    font-size:12px;
    background-color:#EEEEEE;
}

td.tablanum {
    font-size:12px;
    text-align:right;
    background-color:#EEEEEE    
}

a.copy {
    font-family:tahoma, sans-serif;
    font-size:10px;
}

select {
    font-size:12px;
    font-family:tahoma, sans-serif;
}

select.titulo {
    font-size:14px;
    font-weight: bold;
    font-family:tahoma, sans-serif;
}


.botondn {
    font-size:6px;
    background-image:url(images/dwn.gif);
    background-repeat:no-repeat;
    background-position:center;
}

.botonup {
    font-size:6px;
    background-image:url(images/up.gif);
    background-repeat:no-repeat;
    background-position:center;
}
.botonc {
    font-size:15px;
    background-image:url(images/curriculum.png);
    background-repeat:no-repeat;
    background-position:center;
}

.botons {
    font-size:15px;
    background-image:url(images/si.png);
    background-repeat:no-repeat;
    background-position:center;
}


a.docs {
/*    display:block;
    height:8pt;       */
    white-space:nowrap;
    text-decoration:none;
    color: #000000;
    MARGIN-TOP: 2px;
    font-family: tahoma;
    font-size: 13px;
}

a.docs:link {
    color:#000000;
    text-decoration:none;
}

a.docs:visited {
    color:#000000;
    text-decoration:none;
}

a.docs:hover {
    color:#003399;
    text-decoration:none;
    background-color:#C6D9FB;
}

a.docs:active {
    color:#000000;
    text-decoration:none;
}

a.proy {
    display:block;
/*    height:15pt; */
/*    white-space:nowrap; */
    text-decoration:none;
    padding:1px;
    color: #000000;
    MARGIN-TOP: 5px;
    font-family: tahoma;
    font-size: 12px;
}

a.proy:link {
    color:#000000;
    text-decoration:none;
}

a.proy:visited {
    color:#000000;
    text-decoration:none;
}

a.proy:hover {
    color:#003399;
    background-color:#C6D9FB;
    text-decoration:none;
}

a.proy:active {
    color:#000000;
    text-decoration:none;
}

td.titproy {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
}

td.detproy {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    background-color: #eeeeff;
}

a.icono {
    height:15pt;
    white-space:nowrap;
    text-decoration:none;
    color: #000000;
    MARGIN-TOP: 5px;
    font-family: tahoma;
    font-size: 10px;
}

a.icono:link {
    color:#000000;
    text-decoration:none;
}

a.icono:visited {
    color:#000000;
    text-decoration:none;
}

a.icono:hover {
    color:#003399;
    text-decoration:none;
}

a.icono:active {
    color:#000000;
    text-decoration:none;
}

input.save {
    background:url(images/save.png);
    width:23px;
    height:23px;
    background-repeat:no-repeat;
    background-position:center;
}

input.cancel {
    background:url(images/eliminar.png);
    width:23px;
    height:23px;
    background-repeat:no-repeat;
    background-position:center;
}

input.delete {
    background:url(images/delete.png);
    width:23px;
    height:23px;
    background-repeat:no-repeat;
    background-position:center;
}

input.exit {
    background:url(images/salir.png);
    width:35px;
    height:35px;
    background-repeat:no-repeat;
    background-position:center;
}